@page "/AddFamily"
@using global::Models
@using DNPAssignment1.Data
@attribute [Authorize(Policy = "SecurityLevel2")]
@inject IFamilyService FamilyService;
@inject ICachingService CachingService;
@inject NavigationManager NavigationManager;

<h3>AddFamily</h3>
<EditForm Model="@newFamilyItem" OnValidSubmit="@AddNewFamily">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        Streetname: <br/>
        <InputTextArea rows="4" @bind-Value="newFamilyItem.StreetName"/>
    </div>
    <div class="form-group">
        House number:<br />
        <InputNumber @bind-Value="newFamilyItem.HouseNumber" />
        </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create</button>
    </p>
    
    
    
    <br/>
    <br/>
<p class="actions">
    <button class="btn btn-outline-dark" @onclick="@(() => AddFamilyToStorage())">Create</button>
</p>

</EditForm>

@code {
    private Family newFamilyItem = new Family();

    private void AddNewFamily()
    {
        CachingService.AddHouseNumber(newFamilyItem.HouseNumber);
        CachingService.AddStreetName(newFamilyItem.StreetName);
        NavigationManager.NavigateTo("/Families");
    }
    
    public void AddFamilyToStorage()
    {
        FamilyService.AddFamily(CachingService.GetFamily());
    }
}
