@page "/AddFamily"
@using global::Models
@using DNPAssignment1.Data
@attribute [Authorize(Policy = "SecurityLevel2")]
@inject IFamilyService FamilyService;
@inject ICachingService CachingService;
@inject NavigationManager NavigationManager;

<EditForm Model="@newFamilyItem" OnValidSubmit="@AddNewFamily">
    <div class="familyContainer" id="container">
        <div>
            <DataAnnotationsValidator />
            <ValidationSummary />

            <h3 style="margin-top: 16px;">Add Family</h3>
            <div class="form-group">
                Streetname: <br />
                <InputText @bind-Value="newFamilyItem.StreetName" />
            </div>

            <br />
            <div class="form-group">
                House number:<br />
                <InputNumber @bind-Value="newFamilyItem.HouseNumber" />
            </div>

            Create: <br />
            <button type="button" class="btn btn-outline-dark" @onclick="() => adults.Add(null)">Adult</button>

            <button type="button" class="btn btn-outline-dark" @onclick="() => children.Add(null)">Child</button>

            <button type="button" class="btn btn-outline-dark" @onclick="() => pets.Add(null)">Pet</button>
            <br />
            <br />
            <p class="actions">
                <button type="submit" class="btn btn-success" @onclick="@(() => AddFamilyToStorage())">Create Family</button>
            </p>
        </div>
        @foreach (var a in adults)
        {
                <AdultComponent />
        }
        @foreach (var a in children)
        {
                <ChildComponent />
        }
        @foreach (var a in pets)
        {
                <PetComponent />
        }
    </div>

</EditForm>

@code {
    private Family newFamilyItem = new Family();
    public List<Object> adults = new List<object>();
    public List<Object> children = new List<object>();
    public List<Object> pets = new List<object>();

    private void AddNewFamily()
    {
        CachingService.AddHouseNumber(newFamilyItem.HouseNumber);
        CachingService.AddStreetName(newFamilyItem.StreetName);
        FamilyService.AddFamily(CachingService.GetFamily());
        NavigationManager.NavigateTo("/Families");
    }

    public void AddFamilyToStorage()
    {
    }
}
