@page "/FamilyEdit/{import}"
@using DNPAssignment1.Data
@using global::Models
@attribute [Authorize(Policy = "SecurityLevel2")]
@inject IFamilyService FamilyService

<h3>FamilyEdit: @family.StreetName</h3>

@code {
    [Parameter]
    public string import { get; set; }

    string[] atts;

    public Family family;

    protected override void OnParametersSet()
    {
        //the param will be set now
        atts = import.Split(new[] { "-" }, StringSplitOptions.RemoveEmptyEntries);
        family = FamilyService.GetFamily(atts[0], Int32.Parse(atts[1]));

        System.Console.WriteLine(family.StreetName);
    }
}
