@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    background-color: #eee;
}

a, .btn-link {
    color: #aaa;
}

.helloWorld {
    color: black !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #333;
        justify-content: flex-start;
        color: white;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background: #555;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

tr:nth-child(even) {
    background: #dadada
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
.loginInput {
    margin: 1.3rem 1rem 0 0;
}

.families {
    transition: background-color ease .1s;
}
.clk{
    cursor: pointer;
}
.active {
    background: #5EBA7D !important;
}
.families:hover {
    background-color: #ddd;
}

.removeFam {
    border: none;
    background: transparent;
    transition: color ease .1s;
}

    .removeFam:hover {
        color: red;
    }

.familyContainer {
    display: flex;
    flex-wrap: wrap;
    transition: height ease .2s;
}
.btn-outline-dark {
    background: white;
    border: .1rem solid #aaa !important;
}
.petItem, .adultItem, .childItem {
    margin: 2rem;
    padding: 1rem;
    margin-top: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: .4rem;
    background-color: white;
    height: 50rem;
    overflow: hidden;
    overflow-y: auto;
}
.petItem {
    height: 21rem;
    transition: height .4s ease;
}
.childItem {
    height: 52rem;
    transition: height .8s ease;
    overflow: auto;
}
.adultItem {
    border-right: 5px solid white;
    height: 50rem;
    transition: height .7s ease;
}

.childItem::-webkit-scrollbar-track {
    border-radius: .4rem;
    background-color: white;
}

.childItem::-webkit-scrollbar {
    width: 8px;
    background-color: white;
    border-radius: .4rem;
}

.childItem::-webkit-scrollbar-thumb {
    border-radius: .4rem;
    background-color: #ddd;
}

input {
    border-radius: .3rem;
    border: .1rem solid #ddd;
    padding: .2rem;
    padding-left: .5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 0px 0px, rgba(60, 64, 67, 0.15) 0px 0px 0px 0px;
    transition: box-shadow ease .2s;
}
    input:active, input:focus, select:focus, select:active {
        border-color: #aaa !important;
        outline: none;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

select {
    width: 100%;
    border-radius: .3rem;
    border: .1rem solid #ddd;
    padding: .2rem;
}

.closed {
    height: 3.5rem;
    overflow: hidden;
}



.familyCard {
    height: 8rem;
    width: unset;
    margin: .3rem;
    padding: 1.5rem 1rem;
    background: white;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition: transform ease .1s;
    cursor: pointer;
    overflow: hidden;
}
.familyCard:hover{
    transform: translate(0, -0.3rem);
}
.familyCard .addr{
    font-size: 1.3rem !important;
    margin-bottom: 0;
}
    .familyCard .memb {
        opacity: .7;
        margin-bottom: 0;
    }

.famDetailContainer {
    display: flex;
    flex-wrap: wrap;
}

.famDetailItem {
    height: unset;
    width: unset;
    margin: .3rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background: white;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
    .famDetailItem p {
        margin-bottom: 0;
    }
    .famDetailItem p:first-of-type {
        font-size: 1.3rem;
    }

.memberCont {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    float: right;
}

.childDisplay, .adultDisplay, .petDisplay {
    height: 1.5rem;
    width: unset;
    margin: 0rem .3rem;
    padding-left: 1.5rem;
    background-position: left; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    opacity: .7;
}
    .childDisplay {
    background-image: url("001-baby.png");
}
.adultDisplay {
    background-image: url("003-man.png");
}
.petDisplay {
    background-image: url("002-dog.png");
}
.minWindow {
    float: right;
    border: none;
    border-radius: .1rem;
    background-color: #ffffff;
    height: 1.5rem;
    width: 1.5rem;
    border: .1rem solid #aaa;
    outline: none;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0;

}
.minWindow:hover, .minWindow:focus, .minWindow:active{
    background: #ddd;
}

.avgCont {
    position: relative;
    height: 210px;
    width: 150px;
    background: white;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    padding: 15px;
    margin:0 30px;
    display: inline-block;
    vertical-align: top;
}
    .avgCont p{
        font-size: 13px;
        margin: 3px;
        color: dimgray;
    }

    .avgCont p span{
        color: black;
    }
    section {
    }
@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.charts--container {
    margin: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.charts--container h4{
    margin-bottom: 2rem;
}
.pieID {
    display: inline-block;
    vertical-align: top;
}

.pie {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 30px 30px 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 50%;
}

    .pie::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 100px;
        background: #EEE;
        border-radius: 50%;
        top: 50px;
        left: 50px;
        box-shadow:inset rgba(0, 0, 0, 0.07) 0px 1px 2px,inset rgba(0, 0, 0, 0.07) 0px 2px 4px,inset rgba(0, 0, 0, 0.07) 0px 4px 8px,inset rgba(0, 0, 0, 0.07) 0px 8px 16px,inset rgba(0, 0, 0, 0.07) 0px 16px 32px,inset rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }


.slice {
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
    animation: bake-pie 1s;
}

    .slice span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        clip: rect(0px, 200px, 200px, 100px);
    }

.legend {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #FFF;
    padding: 15px;
    font-size: 13px;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    margin-top: 100px;
    transform: translate(0, -50%);
}

    .legend li {
        width: 110px;
        height: 1.25em;
        margin-bottom: 0.7em;
        padding-left: 0.5em;
        border-left: 1.25em solid white;
        transition: border-color .2s ease;
    }

    .legend em {
        font-style: normal;
    }

    .legend span {
        float: right;
    }